* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;

}

header .navigation .navigation-items a {
    position: relative;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a::before {
    content: '';
    position: absolute;
    background-color: rgb(23, 212, 64);
    width: 0%;
    height: 3px;
    bottom: -5px;
    left: 0;
    transition: 1s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}

section {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(62, 133, 204);
}

.home::before {
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(3, 96, 251, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.home .content {
    display: none; 
    color: white;
    z-index: 888;
}

.home .content.active {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    
}

.members_image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home .content img{
    width: 300px;
    border-radius: 20px;
}

.home .media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

 .members_image { 
    z-index: 888;
    right: 20%;
    top: 25%;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
 }

.text p{
    font-size: 18px;
}

.home .media-icons a {
    color: white;
    font-size: 1.6em;
    transition: 0.6s ease;
}

.home .media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.home .media-icons a:hover {
    transform: scale(1.3);
}

.home video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 20px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 1s ease;
}

.slider-navigation .nav-btn.active {
    background: blue;

}

.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
    transform: scale(1.3);
}

.video-slider {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slider.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
    }

    section {
        padding: 100px 20px;
    }

    .home .media-icons {
        right: 15px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items a {
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a:before {
        background: #222;
        height: 5px;

    }

    header .navigation.active .navigation-items {
        background-color: white;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 /20%);
    }

    .members_image { 
        right: 15%;
        top: 40%;
     }

    .burger {
        display: flex;
        position: relative;
        z-index: 999;
        align-items: center;
        justify-content: flex-end;
        width: 30px;
        height: 18px;
    }

    .burger span {
        height: 2px;
        width: 80%;
        transform: (1);
        background-color: red;
    }

    .burger::before,
    .burger::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: white;
        transition: all 1s ease;
    }

    .burger::before {
        top: 0
    }

    .burger::after {
        bottom: 0
    }

    .burger.active span {
        transform: scale(0)
    }

    .burger.active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }

    .burger.active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }

    .home .content.active {
        grid-template-columns: 1fr;
    }

    .home .content img{
        width: 150px;
        border-radius: 20px;
    }

    .members_image { 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .home .media-icons {
            margin-top: 200px;
    }

}